block settings

- var url = "https://keupoz.github.io/SkinEx";
- var name = "SkinEx"
- var title = name;
- var description = "3D Minecraft skin viewer for browser with support for Mine Little Pony mod";

html(lang="en")
    head
        title= title

        meta(name="viewport", content="width = device-width")
        meta(charset="utf-8")

        //- OpenGraph properties
        meta(property="og:title", content=title)
        meta(property="og:locale", content="en_US")
        meta(name="description", content=description)
        meta(property="og:description", content=description)
        link(rel="canonical", href=url)
        meta(property="og:url", content=url)
        meta(property="og:site_name", content=name)

        meta(property="og:image", content=`${url}/assets/DaringDo_Background.png`)
        meta(name="theme-color", content="#ff0080")

        link(rel="shortcut icon", href="assets/favicon.ico")
        link(rel="stylesheet", href="styles/index.css")

    body
        #app

        script(src=`scripts/index.js`)
